<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/book-pages/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        
    </header>
    <main>
        <h1>This is the Books Index Page</h1>
        
        <section class="books">
            <div class="book">
                <div class="cover">
                    <div class="covertop">
                    </div>
                    <a href="/books/0">
                        <div class="spine">
                            <p>Great Expectations</p>
                        </div>
                    </a>
                </div>
                <div class="side"></div>
            </div>
            <div class="book">
                <div class="cover"></div>
                <a href="/books/1">
                <div class="spine">
                    <p>House of Leaves</p>
                </div>
                </a>
                <div class="side"></div>
            </div>        
            <div class="book">
                <div class="cover"></div>
                <a href="/books/2">
                    <div class="spine">
                        <p>Blood Meridian</p>
                    </div>
                </a>
                <div class="side"></div>
            </div>
        </section>
            


    </main>
    
    
</body>
</html>