body {
    background-image: url('../../images/bookStackBackground.jpg');
    background-size: 1200px;
}
main {
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.books {
    height: 500px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.book{
    display: flex;
    position: relative;
    margin-top: -11px;
}
.cover {
    width: 350px;
}
.covertop,
.spine {
    width: 317px;
    background-color: rgb(99, 15, 15);
    border: 1px solid black;
}
.covertop{
    height: 11px;
    transform: skewX(112deg);
    transform-origin: 0 100%;
}
.spine,
.side {
    height: 50px;
}
.spine {
    text-align: center;
    background-image: linear-gradient(to top, rgb(73, 9, 9), rgb(99, 15, 15) 20%, rgb(99, 15, 15) 80%, rgb(73, 9, 9));
}
.cover a {
    text-decoration: none;
}
.cover a:hover {
    text-decoration: underline;
    color: rgb(174, 130, 21)
}
.spine p {
    font-weight: bold;
    color: rgb(174, 130, 21)
}

.side {
    width: 30px;
    background-color: antiquewhite;
    transform: skewY(-20deg);
    transform-origin: 0 0;
    border: 1px solid black;
    bottom: 0;
    position: absolute;
    right: 0;
}