body {
  background: black;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
main {
  position: absolute;
  height: calc(100vh - 200px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.bookCover,
.bookData {
  position: absolute;
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftCover,
.spine,
.rightCover {
  background: rgb(85, 13, 13);
  border: 3px solid black;
}
.leftCover,
.rightCover {
  width: 400px;
  height: 600px;
}
.spine {
  width: 60px;
  height: 600px;
}
.leftCover {
  transform: perspective(400px) rotateY(3deg);
  transform-origin: 100% 50%;
}
.rightCover {
  transform: perspective(400px) rotateY(-3deg);
  transform-origin: 0% 50%;
}

.leftPage,
.rightPage {
  height: 550px;
  width: 400px;
  background: antiquewhite;
  border: 1px solid black;
}
.leftPage {
  transform: perspective(400px) rotateY(2deg);
  transform-origin: 100% 50%;
}
.rightPage {
  box-sizing: border-box;
  transform: perspective(400px) rotateY(-2deg);
  transform-origin: 0% 50%;
  padding: 30px;
  position: relative;
  z-index: 5;
}
h2 {
  margin: 0;
}
h2 input {
  width: 250px;
}
h4 input {
  width: 40px;
}
h2,
h3,
h4 {
  text-align: center;
}
.summaryBox, .reviewBox {
  width: 332px;
  height: 80px;
}
.summary, .review {
  padding: 15px;
}

/*BUTTONS*/
.addButton {
  margin-top: -30px;
  float: right;
  height: 50px;
  width: 80px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: Kanit;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5)
}
.addButton:hover {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5)
}

.edit,
.delete {
  position: absolute;
  bottom: -10px;
  left: 100px;
  height: 50px;
  width: 50px;
  margin: 5px;
  background: purple;
  z-index: 4;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.edit p,
.delete p {
  color: white;
}
.edit {
  left: 600px;
}
.delete {
  border: 0;
  padding: 0;
  bottom: -20px;
  left: 750px;
  cursor: pointer;
  outline: none;
}
.edit:hover p {
  text-decoration: underline;
}
.delete:hover p {
  text-decoration: underline;
}

.rightStack {
  margin-left: 13px;
  height: 568px;
  width: 40px;
  background: antiquewhite;
  border: 1px solid black;
  transform: perspective(400px) rotateY(20deg);
  transform-origin: 0% 50%;
}