body {
  background: black;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
main {
  position: absolute;
  height: calc(100vh - 200px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.bookCover,
.bookData {
  position: absolute;
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftCover,
.spine,
.rightCover {
  background: rgb(85, 13, 13);
  border: 3px solid black;
}
.leftCover,
.rightCover {
  width: 400px;
  height: 600px;
}
.spine {
  width: 60px;
  height: 600px;
}
.leftCover {
  transform: perspective(400px) rotateY(3deg);
  transform-origin: 100% 50%;
}
.rightCover {
  transform: perspective(400px) rotateY(-3deg);
  transform-origin: 0% 50%;
}

.leftPage,
.rightPage {
  height: 550px;
  width: 400px;
  background: antiquewhite;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 30px;
}
/*Left Page specifics*/
.leftPage {
  transform: perspective(400px) rotateY(2deg);
  transform-origin: 100% 50%;
}
.queryForm {
  margin: 10px 0px;
}
.bookQuery {
  width: 100%;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 337px;
  height: 338px;
  overflow: scroll;
}
.result {
  border: 1px solid gray;
  background: white;
  width: 300px;
  height: 110px;
  margin: 10px;
  position: relative;
}
img {
  height: 100px;
  margin: 5px;
  float: left;
}
.grTitle,
.grAuthor,
.grDate {
  margin: 5px;
  padding: 0;
}
.grTitleInput,
.grAuthorInput,
.grDateInput,
.grShelfInput {
  opacity: 0;
  pointer-events: none;
}
/*Right Page specifics*/
.rightPage {
  transform: perspective(400px) rotateY(-2deg);
  transform-origin: 0% 50%;
  position: relative;
  z-index: 5;
}
.title {
  margin: 0;
}
.title input {
  width: 250px;
}
.date input {
  width: 40px;
}
.title,
.author,
.date {
  text-align: center;
}
.summaryBox, .reviewBox {
  width: 332px;
  height: 80px;
}
.summary, .review {
  padding: 15px;
}

/*BUTTONS*/
.addButton,
.queryButton,
.grButton {
  height: 50px;
  width: 80px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: Kanit;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.addButton:hover,
.queryButton:hover {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5)
}
.addButton {
  margin-top: -30px;
  float: right;
}
.queryButton {
  margin: 5px;
  height: 30px;
  margin-left: 250px;
  margin-bottom: 0px;
}
.grButton {
  height: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.edit,
.delete {
  position: absolute;
  bottom: -10px;
  left: 100px;
  height: 50px;
  width: 50px;
  margin: 5px;
  background: purple;
  z-index: 4;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.edit p,
.delete p {
  color: white;
}
.edit {
  left: 600px;
}
.delete {
  border: 0;
  padding: 0;
  bottom: -20px;
  left: 750px;
  cursor: pointer;
  outline: none;
}
.edit:hover p {
  text-decoration: underline;
}
.delete:hover p {
  text-decoration: underline;
}

.rightStack {
  margin-left: 13px;
  height: 568px;
  width: 40px;
  background: antiquewhite;
  border: 1px solid black;
  transform: perspective(400px) rotateY(20deg);
  transform-origin: 0% 50%;
}