<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- nav style -->
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/main.css">
  <script defer src="/js/app.js"></script>
  
  <title>Document</title>
</head>
<body>
  <!-- header partial-->
  <main>
    <section class="loginBox">
      <h1>My Bookshelf</h1>
      <form action="/login" method="POST">
        <div class="username">
          <label for="username">Username: </label>
          <input id="username" type="text" name="username">
        </div>
        <div class="password">
          <label for="password">Password: </label>
          <input id="password" type="password" name="password">
        </div>
        <a href="/register">Not a user? Create a login</a>
        <button type="submit">Log in</button>
      </form>
    </section>
  </main>
  
</body>
</html>