<header>
    <nav>
        <a class="nav-link" href="/users/<%=userID%>/books">Books</a>
        <a class="nav-link" href="/users/<%=userID%>/books/shelves">Bookshelves</a>
        <!--The below is HARDCODED. CHANGE ASAP-->
        <a class="nav-link" href="/users/<%=userID%>">Profile Page</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button class="logoutbutton" type="submit">Logout</button>
        </form>
    </nav>
</header>

