<header>
    <nav>
        <a class= "nav-link" href="users/5f0ce1095d60b84d0756a2eb/books">Books</a>
        <a class= "nav-link" href="/">Bookshelves</a>
        <!--The below is HARDCODED. CHANGE ASAP-->
        <a class= "nav-link" href="/users/5f0ce1095d60b84d0756a2eb">Profile Page</a>
        <a class= "nav-link" href="/">User Index</a>
    </nav>
</header>

