<header>
    <nav>
        <a class="nav-link" href="/books/new">Add Book</a>
        <a class="nav-link" href="/books">Your Books</a>
        <a class="nav-link" href="/users/profile">Profile Page</a>
        <a class="nav-link" href="/browse/">Browse Users</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button class="logoutbutton" type="submit">Logout</button>
        </form>
    </nav>
</header>

