<header>
    <nav>
        <a class= "nav-link" href="/books">Books</a>
        <a class= "nav-link" href="/">Bookshelves</a>
        <a class= "nav-link" href="/users/0">Profile Page</a>
        <a class= "nav-link" href="/">User Index</a>
    </nav>
</header>

