body {
    background: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    background-image: url('/images/profileBackgroundSM.jpeg');
    background-size: cover;
    height: calc(90vh + 225px);
    width: 800px;
    overflow: hidden;
    margin-top: -215px;
    display: flex;
    justify-content: center;
    position: relative;
}
.corkboard {
    margin-top: 420px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/corkboardSM.jpeg');
    background-size: cover;
    border: 5px solid black;
    width: 500px;
    height: 525px;
    z-index: 5;
    padding: 15px;
}
.displayName {
    background: antiquewhite;
    height: 80px;
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 25px;
}
h2 {
    position: relative;
    padding: 10px;
    font-family: Kanit, sans-serif;
    font-size: 36px;
    margin: 0;
}
.bookshelves {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 150px;
    position: relative;
}
.shelvesHeader {
    background: antiquewhite;
    height: 50px;
    width: 120px;
    font-family: Kanit;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
}
.eachShelf {
    height: 136px;
    display: flex;
    flex-direction: column;
}
.eachShelf a {
    text-decoration: none;
    color: black;
    margin: 5px;
}
.eachShelf a:hover .shelfName {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5); 
}
.shelfName {
    height: 24px;
    width: 190px;
    font-family: Kanit, sans-serif;
    background: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
}
.shelfName h5 {
    margin: 0;
    margin-left: 4px;
    font-size: 16px;
}
h3 {
    margin: 0;
    text-align: center;
}
img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.quote {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quoteHead {
    width: 180px;
    height: 30px;
    background: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 3px;
    position: relative;
}
.quoteHead h4 {
    margin: 0;
    font-family: Kanit;
    font-size: 18px;
}
.quoteProper {
    background: antiquewhite;
    height: 50px;
    width: 350px;
    border-radius: 5px;
    position: relative;
}
.quoteProper p {
    margin: 0;
    padding: 4px;
}
.stats {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 80px;
    height: 80px;
    background: antiquewhite;
    font-family: Kanit, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}
.statHead h6 {
    margin: 3px 0px;
    font-size: 14px;
}
.bookCount p {
    margin: 0;
    font-size: 48px;
    line-height: 32px;
}
.extraTacks {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 80px;
    height: 80px;
}
.buttons {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.userEdit,
.userDelete {
    margin: 5px;
}
/* Tacks */
.tack {
    width: 10px;
    height: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tackTop,
.tackMiddle,
.tackBottom {
    background: red;
}
.tackTop {
    width: 6px;
    height: 2px;
}
.tackMiddle {
    width: 4px;
    height: 4px;
}
.tackBottom {
    width: 8px;
    height: 2px;
}
.pointyBit {
    width: 2px;
    height: 3px;
    background: grey;
}
.nameL,
.nameR,
.shelf0,
.shelf1,
.shelf2,
.shelf3,
.shelvesHeadL,
.shelvesHeadR,
.quoteHeadL,
.quoteHeadR,
.quoteR,
.quoteL,
.statR,
.statL {
    position: absolute;
}
.nameL {
    left: -4px;
    top: -4px;
    transform: rotate(-30deg);
}
.nameR {
    right: -5px;
    top: -2px;
    transform: rotate(24deg);
}
.nameR .tackTop,
.nameR .tackMiddle,
.nameR .tackBottom {
    background: blue;
}
.shelf0,
.shelf1,
.shelf2,
.shelf3 {
    top: -2px;
    left: -4px;
    transform: rotate(-40deg);
}
.shelf0 .tackTop,
.shelf0 .tackMiddle,
.shelf0 .tackBottom {
    background: green;
}
.shelf2 .tackTop,
.shelf2 .tackMiddle,
.shelf2 .tackBottom,
.extra8 .tackTop,
.extra8 .tackMiddle,
.extra8 .tackBottom {
    background: yellow;
}
.shelf3 .tackTop,
.shelf3 .tackMiddle,
.shelf3 .tackBottom {
    background: rebeccapurple;
}
.shelvesHeadL {
    left: -3px;
    top: -5px;
    transform: rotate(-12deg);
}
.shelvesHeadL .tackTop,
.shelvesHeadL .tackMiddle,
.shelvesHeadL .tackBottom {
    background: magenta;
}
.shelvesHeadR {
    right: -5px;
    top: -2px;
    transform: rotate(25deg);
}
.shelvesHeadR .tackTop,
.shelvesHeadR .tackMiddle,
.shelvesHeadR .tackBottom {
    background: rgb(0, 147, 17);
}
.quoteHeadL {
    left: -5px;
    top: -3px;
    transform: rotate(-36deg);
}
.quoteHeadR {
    right: -3px;
    top: -5px;
    transform: rotate(44deg);
}
.quoteHeadL .tackTop,
.quoteHeadL .tackMiddle,
.quoteHeadL .tackBottom,
.extra2 .tackTop,
.extra2 .tackMiddle,
.extra2 .tackBottom {
    background: rgb(7, 25, 162);
}
.quoteHeadR .tackTop,
.quoteHeadR .tackMiddle,
.quoteHeadR .tackBottom,
.extra1 .tackTop,
.extra1 .tackMiddle,
.extra1 .tackBottom {
    background: rgb(9, 199, 196);
}
.quoteL {
    left: -5px;
    top: -3px;
    transform: rotate(-36deg);
}
.quoteR {
    right: -3px;
    top: -5px;
    transform: rotate(44deg);
}
.quoteL .tackTop,
.quoteL .tackMiddle,
.quoteL .tackBottom,
.extra3 .tackTop,
.extra3 .tackMiddle,
.extra3 .tackBottom {
    background: rgb(0, 147, 17);
}
.quoteR .tackTop,
.quoteR .tackMiddle,
.quoteR .tackBottom,
.extra4 .tackTop,
.extra4 .tackMiddle,
.extra4 .tackBottom {
    background: rgb(199, 92, 9);
}
.statL {
    left: -4px;
    top: -4px;
    transform: rotate(-36deg);
}
.statR {
    right: -6px;
    top: -5px;
    transform: rotate(44deg);
}
.statL .tackTop,
.statL .tackMiddle,
.statL .tackBottom,
.extra5 .tackTop,
.extra5 .tackMiddle,
.extra5 .tackBottom {
    background: rgb(112, 29, 228);
}
.statR .tackTop,
.statR .tackMiddle,
.statR .tackBottom,
.extra6 .tackTop,
.extra6 .tackMiddle,
.extra6 .tackBottom {
    background: rgb(233, 64, 219);
}
.extra1,
.extra2,
.extra3,
.extra4,
.extra5,
.extra6,
.extra7,
.extra8,
.extra9,
.extra10 {
    position: absolute;
}
.extra1 {
    top: 10px;
    left: 40px;
    transform: rotate(60deg);
}
.extra2 {
    top: 40px;
    left: 55px;
    transform: rotate(-27deg);
}
.extra3 {
    top: 60px;
    left: 60px;
    transform: rotate(-10deg);
}
.extra4 {
    top: 15px;
    left: 70px;
    transform: rotate(20deg);
}
.extra5 {
    top: 70px;
    left: 30px;
    transform: rotate(26deg);
}
.extra6 {
    top: 4px;
    left: 55px;
    transform: rotate(15deg);
}
.extra7 {
    top: 49px;
    left: 35px;
    transform: rotate(27deg);
}
.extra8 {
    top: 35px;
    left: 25px;
    transform: rotate(-15deg);
}
.extra9 {
    top: 25px;
    left: 5px;
    transform: rotate(45deg);
}
.extra10 {
    top: 14px;
    left: 24px;
    transform: rotate(-26deg);
}
.extra9 .tackTop,
.extra9 .tackMiddle,
.extra9 .tackBottom {
    background: rgb(21, 211, 113)
}
.extra10 .tackTop,
.extra10 .tackMiddle,
.extra10 .tackBottom {
    background: rgb(63, 63, 63)
}

.bottom {
    height: 10px;
    width: 400px;
    bottom: 0;
    margin-bottom: -10px;
    z-index: 6;
    background-image: linear-gradient(grey, lightgrey, grey);
    box-shadow: 0px -2px 5px rgba(0,0,0,0.5),
                0px 2px 5px rgba(0,0,0,0.5);
}


/* Easel*/
.easel {
    position: absolute;
    margin-top: 670px;
    width: 500px;
    height: 600px;
    z-index: 4;
}
.leg,
.bottom {
    position: absolute;
}
.leg {
    width: 10px;
    height: 600px;
    background-image: linear-gradient(to right, grey, lightgrey, grey);
}
.leftLeg {
    transform: rotate(20deg);
    transform-origin: 0 100%;
}
.middleLeg {
    margin-left: 245px;
    margin-top: -50px;
    width: 8px;
    background-image: linear-gradient(to right, rgb(63, 63, 63), grey, rgb(63, 63, 63));
}
.rightLeg {
    right: 0;
    transform: rotate(-20deg);
    transform-origin: 100% 100%;
}
