@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: black;
    padding: 10px;
    margin: 0;
    /* position: fixed; */
    top: 0;
}

.nav-link {
    color: antiquewhite;
    text-decoration: none;
    font-size: 24px;
    padding: 15px;
    font-family: 'Kanit', sans-serif;
}

.nav-link:hover {
    text-decoration: underline;
}