<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/user-pages/show.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main User Page</title>
</head>
<body>
  <h1>Main User Page</h1>
<main>
  <section class="corkboard">
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQECU0BDxdW6XQ/profile-displayphoto-shrink_200_200/0?e=1599696000&v=beta&t=Ud4QEnsQpCl62EqI_OJGziEXde9bXzMG25Di1UunTD8" alt="profile pic">
    <h2 class="username">John Doe </h2>
    <button>Edit User Settings</button>
    <section class="bookshelves">
      <h3>My Bookshelves</h3>
      <ul>
        <li>Currently Reading</li>
        <li>My Favorites</li>
        <li>Study Books</li>
      </ul>
    </section>
    <section class="quote">
      <p>It was the best of times, it was the worst of times.</p>
      <p>-Charles Dickens</p>
    </section>
    <section class="stats">
      <p><span>Books on shelves: </span> 42</p>
    </section>
    
    <div class="bottom"></div>
  </section>
  <section class="easel">
    <div class="leftLeg leg"></div>
    <div class="middleLeg leg"></div>
    <div class="rightLeg leg"></div>
  </section>


</main>
  
</body>
</html>